body{
    background-color: #5fffea75; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}
.container{
    width: 80%;
    background-color: white;
    margin: 0 auto;
}
h1.title{
    text-align: left;
    color: brown;
    text-transform: uppercase;
    font-size: 40px;
    padding: 10px;
}
h1.title:hover{
    text-decoration: overline;
    color: #a52a2a75;
    transition: ease-in-out;
}
.top-menu{
    background-color: brown;
    overflow: hidden;
}
.top-menu ul li{
    list-style-type: none;
    float: left;
    border-right: 2px solid #5fffea;
    padding: 5px 10px ;
}
.top-menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #5fffea;
    font-weight: 800;
    font-size: 24px;
}
.top-menu ul li:hover a{
    text-decoration: underline;
    color: brown;
}
.main-img{
    width: 100%;
    height: 50vh;
}
table img{
    height: 500px;
    width: 400px;
}
table img:hover{
    opacity: .5;
    transform: scale(1.005);
    transition: ease-in 2s;
}
.credits{
    background-color: brown;
    padding: 30px;
    color: white;
    font-size: 24px;
}
.credits:hover{
    transform: rotate(15deg);
    transition: ease-in-out 10ms;
}